<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>MISCmarks | Online Simple Bookmarking</title>
</head>

<body>
    <a href="/" class="main-title">
        MISCmarks
    </a>
  
    <div class="login-area">
        <a class="login-link" href="/newlink">submit</a>
        |
        {% if logged_in %}
        {{username}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="age">
        Queried {{age}} seconds ago
    </div>
</body>

</html>

